* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    background-image: url(../assets/endless-constellation.svg);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(44, 44, 44, 0.925), rgba(137, 135, 135, 0.826), rgba(161, 98, 255, 0.864));
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInDown 1s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideInDown 1s ease-in-out;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar .logo {
    display: flex;
    align-items: center;
    color: white;
}

.navbar .logo i {
    font-size: 40px;
    margin-right: 10px;
    color: white;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: rgba(255, 132, 255, 0.892);
}

.burger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px 20px; 
    position: absolute; 
    right: 20px; 
    top: 30px; 
}

@media screen and (max-width: 768px) {
    .navbar .nav-links {
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: center;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .navbar .nav-links {
        margin-left: auto;
    }
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}

.registration-form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.registration-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background: #5e42a6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Poppins', sans-serif;
}

button[type="submit"]:hover {
    background: #4a357d;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 480px) {
    .registration-form {
        padding: 15px;
    }

    .form-group input {
        padding: 6px;
    }

    button[type="submit"] {
        padding: 8px 12px;
    }
}

.footer {
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(44, 44, 44, 0.507), rgba(137, 135, 135, 0.523), rgba(3, 2, 4, 0.595));
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer h3 {
    padding: 15px;
}

.footer .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0 2rem 0;
    padding: 0;
}

.footer .socials li {
    margin: 0 30px;
}

.footer .socials li a {
    text-decoration: none;
    color: inherit;
}

.footer .socials li i {
    font-size: 30px;
    transition: color 0.3s;
}

.footer .socials li a:hover i {
    color: #8238f9; /* Change this to the desired hover color */
}

